# Tips Pandas

In [2]:
import pandas as pd 
import numpy as np

from pandas import Series, DataFrame

Series - Object containing a one-dimension set of values AND a indexes associated to this values

# <b>Manipulating Series</b>

Description of a Serie

In [9]:
MySerie = Series([4, 7, -5, 3])

print('--Serie--')
print(str(MySerie))
print('lenght = ' + str(len(MySerie)))

print('')
print('--Values--')
print(str(MySerie.values) + ' ' + str(type(MySerie.values)))

print('')
print('--Index--')
print(str(MySerie.index) + ' ' + str(type(MySerie.index)))

--Serie--
0    4
1    7
2   -5
3    3
dtype: int64
lenght = 4

--Values--
[ 4  7 -5  3] <class 'numpy.ndarray'>

--Index--
RangeIndex(start=0, stop=4, step=1) <class 'pandas.core.indexes.range.RangeIndex'>

Serie with a defined index

In [4]:
MySerie2 = Series([4, 7, -5, 3] , index=['a', 'b', 'c', 'd'])
print(str(MySerie2))

print(' ')
print('Value a = ' + str(MySerie2['a']))
print('First value ' + str(MySerie2[0]))

print('')
print('Values a and b = ')
MySerie2[['a','b']]

a    4
b    7
c   -5
d    3
dtype: int64

Value a = 4
First value 4

Values a and b =

a    4
b    7
dtype: int64

# <b>Manipulating Dataframes</b>

Defining Dataframes

In [12]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

https://pandas.pydata.org/pandas-docs/stable/merging.html

Replace missing values in a olumns of a dataframe by a given value

In [ ]:
df_sphere.Parent_id.fillna('Root',inplace=True)

Calculating a column based on formula with 2 other columns

In [ ]:
def calcu_ratio(a,b):
    return (b - a)/a

df["col3"] = df.apply(lambda row: calc_ratio(row['col1'], row['col2']), axis=1)